@import "../../app";

.featured {
  min-height: 90vh;
  position: relative;

  .category {
    position: absolute;
    top: 80px;
    left: 50px;
    font-size: 30px;
    font-weight: 500;
    color: white;
    display: flex;
    align-items: center;


    select {
      cursor: pointer;
      background-color: var(--main-color);
      border: 1px solid white;
      color: white;
      margin-left: 20px;
      padding: 5px;
    }
  }

  &_img-wrapper {
    width: 100%;
    height: 90vh;
    position: relative;
    img{
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      left: 0;
      top: 0;
    }
  }


  &_info {
    width: 35%;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50px;
    bottom: 100px;
    color: white;

    @include mobile {
      width: 70%;
    }

    h1 {
      text-shadow: 1px 1px 2px black, 0 0 1em black;
    }
  }

  &_info-description {
    margin: 20px 0;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    -ms-line-clamp: 7;
    -webkit-line-clamp: 7;
    line-clamp: 7;
    display: -webkit-box;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    text-shadow: 1px 1px 2px black, 0 0 1em black;
  }

  &_buttons {
    display: flex;

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      font-weight: bold;
      padding: 10px 20px;
      margin-right: 10px;
      cursor: pointer;
      border: none;
      border-radius: 5px;
      transition: background-color 0.3s ease;

      &.featured_buttons-play {
        background-color: white;
        color: var(--main-color);
        &:hover {
          background-color: darken(white, 10%);
        }
      }

      &.featured_buttons-info {
        background-color: grey;
        color: white;
        &:hover {
          background-color: darken(grey, 10%);
        }
      }

      span {
        margin-left: 5px;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}